#pagar .modal-dialog {
  padding: 0;
  top: 0;
  margin: 0;
  left: 0;
}

#pagar .modal-content {
  padding: 0;
  top: 0;
  margin: 0;
  left: 0;
  width: 1366px !important;
  height: 829px !important;
  position: relative;
}

.volver {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  position: absolute;
  width: 92px;
  height: 40px;
  left: 40px;
  top: 16px;
}

.volver img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 8px;
  margin: 15px;
  position: static;
  left: 0px;
  top: 0px;
  /* Cocoa Brown */
  border-radius: 80px;
}

.volver p {
  position: static;
  width: 44px;
  height: 16px;
  left: 48px;
  top: 12px;
  padding-right: 15px;
  /* Button */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #332927;
}

.productosPagar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 16px;
  position: absolute;
  width: 631px;
  height: 704px;
  left: 40px;
  top: 80px;
  background: #ffffff;
  /* Shadows-2 */
  -webkit-box-shadow: 0px 11px 29px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 11px 29px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
}

.productosPagar .productpagarCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 24px 16px;
  position: static;
  width: 562px;
  height: 112px;
  left: 16px;
  top: 16px;
  /* White */
  background: #fefefe;
  -webkit-box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.05);
}

.productpagarCont .imgPagarProduct {
  position: static;
  width: 64px;
  height: 64px;
  left: 16px;
  top: 24px;
  margin: 0 30px 0 0;
  /* White */
  background: #fefefe;
}

.container-rigth {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0px;
  position: static;
  width: 251px;
  height: 56px;
  left: 104px;
  top: 24px;
}

.container-rigth .content-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px;
  position: static;
  width: 251px;
  height: 56px;
  left: 0px;
  top: 0px;
}

.container-rigth .content-right .nombre-rigth {
  position: static;
  width: 251px;
  height: 24px;
  left: 0px;
  top: 0px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #332927;
}

.container-rigth .content-right .precio-rigth {
  position: static;
  width: 251px;
  height: 24px;
  left: 0px;
  top: 32px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #332927;
}

.btonAgregar {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 24px;
  position: static;
  width: 167px;
  height: 40px;
  left: 379px;
  top: 24px;
  background: #fefefe;
  -webkit-box-shadow: 0px 11px 29px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 11px 29px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}

.payForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px;
  position: absolute;
  width: 413px;
  height: 397px;
  left: 804px;
  top: 80px;
}

.payForm .emailInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px;
  position: static;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 81.86%;
}

.payForm .emailInput .inputName {
  position: static;
  height: 24px;
  width: 413px;
  left: 0px;
  right: -8px;
  top: 0px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #333333;
}

.payForm .emailInput input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 9px 12px;
  position: static;
  height: 40px;
  left: 0px;
  right: 0px;
  top: 32px;
  /* white */
  background: #ffffff;
  /* border-color */
  border: 1px solid rgba(60, 66, 87, 0.12);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* shadow-small */
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.08), 0px 1px 1px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.08), 0px 1px 1px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
}

.cardInput {
  position: static;
  width: 413px;
  height: 200px;
  left: 0px;
  top: 104px;
  -webkit-filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.08)) drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.04));
          filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.08)) drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.04));
}

.cardInput .input2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px;
  outline: none;
  position: absolute;
  left: 0%;
  right: 0%;
  top: -0.92%;
  bottom: 34.86%;
}

.cardInput .infoText {
  position: static;
  width: 413px;
  height: 24px;
  margin-top: 20px;
  left: 0px;
  right: 0px;
  top: 0px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #333333;
}

.inputNumerosCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 9px 12px;
  outline: none;
  position: static;
  height: 40px;
  left: 0px;
  right: 0px;
  top: 32px;
  /* white */
  color: #d6d6d6;
  background: #ffffff;
  /* border-color */
  border: 1px solid rgba(60, 66, 87, 0.12);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* shadow-small */
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.08), 0px 1px 1px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.08), 0px 1px 1px rgba(0, 0, 0, 0.04);
  border-radius: 8px 8px 0px 0px;
}

.borde {
  border: 1px solid red;
}

.nombreTarjeta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px;
  width: 413px;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 75.7%;
  bottom: 20.15%;
}

.nombreTarjeta p {
  width: 413px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
}

.btnPagoFinal {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 48px;
  position: static;
  width: 334px;
  height: 48px;
  left: 0px;
  top: 349px;
  background: #0ac763;
  opacity: 0.5;
  -webkit-box-shadow: 0px -1px 1px rgba(0, 0, 0, 0.12), 0px 2px 5px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.08);
          box-shadow: 0px -1px 1px rgba(0, 0, 0, 0.12), 0px 2px 5px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #fefefe;
}
/*# sourceMappingURL=modalPagar.css.map */