#pagar .modal-dialog {
  padding: 0;
  top: 0;
  margin: 0;
  left: 0;
}
#pagar .modal-content {
  padding: 0;
  top: 0;
  margin: 0;
  left: 0;
  width: 1366px !important;
  height: 829px !important;
  position: relative;
}

.volver {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;

  position: absolute;
  width: 92px;
  height: 40px;
  left: 40px;
  top: 16px;
  img {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    margin: 15px;

    position: static;

    left: 0px;
    top: 0px;

    /* Cocoa Brown */

    border-radius: 80px;
  }
  p {
    position: static;
    width: 44px;
    height: 16px;
    left: 48px;
    top: 12px;
    padding-right: 15px;

    /* Button */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    color: #332927;
  }
}

.productosPagar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;

  position: absolute;
  width: 631px;
  height: 704px;
  left: 40px;
  top: 80px;

  background: #ffffff;
  /* Shadows-2 */

  box-shadow: 0px 11px 29px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  .productpagarCont {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px 16px;

    position: static;
    width: 562px;
    height: 112px;
    left: 16px;
    top: 16px;

    /* White */

    background: #fefefe;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.05);
  }
}

.productpagarCont .imgPagarProduct {
  position: static;
  width: 64px;
  height: 64px;
  left: 16px;
  top: 24px;
  margin: 0 30px 0 0;

  /* White */

  background: #fefefe;
}

.container-rigth {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0px;

  position: static;
  width: 251px;
  height: 56px;
  left: 104px;
  top: 24px;
  .content-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: static;
    width: 251px;
    height: 56px;
    left: 0px;
    top: 0px;
    .nombre-rigth {
      position: static;
      width: 251px;
      height: 24px;
      left: 0px;
      top: 0px;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;

      color: #332927;
    }
    .precio-rigth {
      position: static;
      width: 251px;
      height: 24px;
      left: 0px;
      top: 32px;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;

      color: #332927;
    }
  }
}

.btonAgregar {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  position: static;
  width: 167px;
  height: 40px;
  left: 379px;
  top: 24px;
  background: #fefefe;
  box-shadow: 0px 11px 29px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}

.payForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 413px;
  height: 397px;
  left: 804px;
  top: 80px;
  .emailInput {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: static;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 81.86%;
    .inputName {
      position: static;
      height: 24px;
      width: 413px;
      left: 0px;
      right: -8px;
      top: 0px;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      display: flex;
      align-items: center;
      color: #333333;
    }
    input {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 9px 12px;
      outline: none;

      position: static;
      height: 40px;
      left: 0px;
      right: 0px;
      top: 32px;

      /* white */

      background: #ffffff;
      /* border-color */

      border: 1px solid rgba(60, 66, 87, 0.12);
      box-sizing: border-box;
      /* shadow-small */

      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.08),
        0px 1px 1px rgba(0, 0, 0, 0.04);
      border-radius: 8px;
    }
  }
}

.cardInput {
  position: static;
  width: 413px;
  height: 200px;
  left: 0px;
  top: 104px;
  filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.08))
    drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.04));
  .input2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    outline: none;
    position: absolute;
    left: 0%;
    right: 0%;
    top: -0.92%;
    bottom: 34.86%;
  }
  .infoText {
    position: static;
    width: 413px;
    height: 24px;
    margin-top: 20px;
    left: 0px;
    right: 0px;
    top: 0px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #333333;
  }
}

.inputNumerosCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 9px 12px;
  outline: none;

  position: static;
  height: 40px;
  left: 0px;
  right: 0px;
  top: 32px;

  /* white */
  color: #d6d6d6;
  background: #ffffff;
  /* border-color */

  border: 1px solid rgba(60, 66, 87, 0.12);
  box-sizing: border-box;
  /* shadow-small */

  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.08), 0px 1px 1px rgba(0, 0, 0, 0.04);
  border-radius: 8px 8px 0px 0px;
}

.borde {
  border: 1px solid red;
}

.nombreTarjeta {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 413px;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 75.7%;
  bottom: 20.15%;
  p {
    width: 413px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    color: #333333;
  }
}

.btnPagoFinal {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 48px;
  position: static;
  width: 334px;
  height: 48px;
  left: 0px;
  top: 349px;
  background: #0ac763;
  opacity: 0.5;
  box-shadow: 0px -1px 1px rgba(0, 0, 0, 0.12), 0px 2px 5px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #fefefe;
  i {
    margin: 0 15px;
  }
}
