.contDireccion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px;
  position: static;
  width: 562px;
  height: 72px;
  left: 0px;
  top: 0px;
  /* White */
  background: #fefefe;
  -webkit-box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.05);
}

.contDireccion .direccion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  position: static;
  width: 393px;
  height: 24px;
  left: 16px;
  top: 24px;
}

.contDireccion .direccion span {
  position: static;
  width: 84px;
  height: 24px;
  left: 0px;
  top: 0px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 24px;
}

.contDireccion .direccion p {
  position: static;
  width: 301px;
  height: 24px;
  left: 92px;
  top: 0px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}

.contDireccion .productosLista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px;
  position: static;
  width: 562px;
  height: 623px;
  left: 0px;
  top: 72px;
  overflow-y: scroll;
}

.productListadoCarrito {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 24px 16px;
  position: static;
  width: 562px;
  height: 112px;
  left: 0px;
  top: 0px;
  background: #fefefe;
  -webkit-box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.05);
}

.productListadoCarrito img {
  position: static;
  width: 64px;
  height: 64px;
  left: 16px;
  top: 24px;
  /* White */
  background: #fefefe;
}

.productListadoCarrito .nombreselectprod {
  position: static;
  width: 251px;
  height: 24px;
  left: 0px;
  top: 0px;
  /* Body 2/Regular */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  /* Cocoa Brown */
  color: #332927;
}

.productListadoCarrito p {
  position: static;
  width: 251px;
  height: 24px;
  left: 0px;
  top: 32px;
  /* Body 1/Bold */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  /* Cocoa Brown */
  color: #332927;
}
/*# sourceMappingURL=modalCarrito.css.map */