@charset "UTF-8";
.modalContainer {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.modalContainer .modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid lightgray;
  border-radius: 15px;
  width: 703px;
  height: 354px;
  left: 331px;
  top: 80px;
}

.modalContainer .close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modalContainer .close:hover,
.modalContainer .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.contentUbicacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px;
  position: static;
  width: 623px;
  height: 274px;
  left: 40px;
  top: 40px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin: 24px 0px;
}

.textModal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px;
  position: static;
  width: 623px;
  height: 82px;
  left: 0px;
  top: 64px;
}

.tituloModal {
  position: static;
  width: 623px;
  height: 42px;
  left: 0px;
  top: 0px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  margin: 50px 0 0 0;
  color: #332927;
}

.pModal {
  position: static;
  width: 623px;
  height: 24px;
  left: 0px;
  top: 58px;
  /* Body 1/Regular */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  /* Cocoa Brown */
  color: #332927;
}

.contentInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px;
  position: static;
  width: 623px;
  height: 104px;
  left: 0px;
  top: 170px;
}

.inputLocation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 16px;
  outline: none;
  position: static;
  width: 623px;
  height: 48px;
  left: 0px;
  top: 0px;
  /* Boulder */
  border: 1px solid #b8b4b4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  /* Inside auto layout */
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin: 8px 0px;
}

.btnLocation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 24px;
  position: static;
  width: 623px;
  height: 40px;
  left: 0px;
  top: 8px;
  /* Malachite */
  background: #0ac763;
  border-radius: 8px;
  color: white;
}

.cerrar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 8px;
  position: static;
}

.modalContainer .modal-content1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 40px;
  position: absolute;
  width: 1068px;
  height: 1186px;
  left: 149px;
  top: 80px;
  /* White */
  background: #fefefe;
  border-radius: 16px;
}

.modalContainer .modal-content1 .contProductSelect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px;
  position: static;
  width: 988px;
  height: 522px;
  left: 40px;
  top: 40px;
}

.productSelec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px;
  position: static;
  width: 988px;
  height: 522px;
  left: 40px;
  top: 40px;
}

.productSelec .imgProdSelec {
  position: static;
  width: 522px;
  height: 522px;
  left: 0px;
  top: 0px;
  background: #fefefe;
}

.productSelec .infoproductSelect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0px;
  position: static;
  width: 442px;
  height: 458px;
  left: 546px;
  top: 0px;
}

.productSelec .datosselec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px;
  position: static;
  width: 442px;
  height: 182px;
  left: 0px;
  top: 90px;
}

.productSelec .datosselec h5 {
  position: static;
  width: 442px;
  height: 42px;
  left: 0px;
  top: 0px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  color: #332927;
  margin: 40px 0 10px;
}

.productSelec .datosselec span {
  position: static;
  width: 442px;
  height: 36px;
  left: 0px;
  top: 58px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #332927;
}

.productSelec .datosselec p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px;
  position: static;
  width: 442px;
  height: 72px;
  left: 0px;
  top: 110px;
  margin: 10px 0 70px;
}

.productSelec .datosselec small {
  position: static;
  width: 442px;
  height: 16px;
  left: 0px;
  top: 0px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #332927;
}

.productSelec .datosselec .spanSelect {
  position: static;
  width: 442px;
  height: 48px;
  left: 0px;
  top: 24px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #332927;
}

.productSelec .datosselec .selectPeso {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px;
  position: static;
  width: 442px;
  height: 136px;
  left: 0px;
  top: 450px;
}

.productSelec .datosselec .selectPeso h6 {
  position: static;
  width: 304px;
  height: 24px;
  left: 0px;
  top: 0px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #332927;
  margin: 5px 0px;
}

.productSelec .datosselec .selectPeso select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 16px;
  position: static;
  width: 442px;
  height: 48px;
  left: 0px;
  top: 32px;
  border: 1px solid #b8b4b4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
}

.productSelec .datosselec .selectPeso option {
  position: static;
  width: 378px;
  height: 24px;
  left: 16px;
  top: 12px;
  /* Body 2/Regular */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  /* Cocoa Brown */
  color: #332927;
}

.productSelec .datosselec .pesoAgregar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 8px 0px 0px;
  position: static;
  width: 442px;
  height: 48px;
  left: 0px;
  top: 88px;
}

.productSelec .datosselec .pesoAgregar .btn-peso {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 24px;
  position: static;
  width: 167px;
  height: 40px;
  left: 0px;
  top: 8px;
  background: #fefefe;
  border-radius: 8px;
  margin: 0 40px 0 0;
  border: none;
  -webkit-box-shadow: 0px 11px 29px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 11px 29px rgba(0, 0, 0, 0.05);
}

.productSelec .datosselec .pesoAgregar .btn-Agregar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 24px;
  position: static;
  width: 235px;
  height: 40px;
  left: 207px;
  top: 8px;
  color: white;
  background: #0ac763;
  border-radius: 8px;
  border: none;
}

.modalContainer .modal-content2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px;
  position: absolute;
  width: 562px;
  height: 768px;
  left: 804px;
  top: 0px;
  background-color: white;
}

.cont-carrito {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px;
  position: static;
  width: 562px;
  height: 72px;
  left: 0px;
  top: 0px;
  background: #fefefe;
  -webkit-box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.05);
}

.cont-carrito .entrega {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  position: static;
  width: 393px;
  height: 24px;
  left: 16px;
  top: 24px;
}

.cont-carrito span {
  position: static;
  width: 84px;
  height: 24px;
  left: 0px;
  top: 0px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 24px;
  color: #000000;
}

.cont-carrito p {
  position: static;
  width: 301px;
  height: 24px;
  left: 92px;
  top: 0px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1rem igual a 10px*/
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* Elegir fuente y tamaño global*/
body {
  font-family: 'Poppins', sans-serif;
  line-height: 2;
  max-width: 1366px;
  max-height: 1626px;
  background: #fafaf8;
}

/* imagenes acomodar siempre al ancho*/
img {
  max-width: 100%;
  display: block;
}

.msection {
  margin: 40px 0;
}

/* centrar un contendor*/
.contenedor {
  max-width: 120rem;
  margin: 0 auto;
}

/* Definit el tamaño de los H*/
h1,
h2,
h3 {
  font-family: 'Playfair Display', serif;
  margin: 0 0 5rem 0;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

/*quitar estilo base  etiquetas a */
a {
  text-decoration: none;
  color: #000;
}

.border {
  border: 1px solid red;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 40px;
  position: static;
  max-width: 1366px;
  max-height: 88px;
  left: 0px;
  top: 0px;
  background: #fefefe;
}

header .tienditatitle {
  position: static;
  width: 92px;
  height: 16px;
  left: 40px;
  top: 36px;
  font-family: 'Inter';
  font-style: italic;
  font-weight: 900;
  font-size: 22px;
  line-height: 16px;
  color: #fc462d;
}

header .container-ubicacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  position: static;
  width: 454px;
  height: 40px;
  left: 872px;
  top: 24px;
}

header .container-ubicacion .iconlocation {
  padding-right: 5px;
}

header .container-ubicacion .linea {
  position: static;
  width: 40px;
  height: 0px;
  left: 349px;
  top: 0px;
  /* Boulder */
  border: 1px solid #b8b4b4;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

header .container-ubicacion .location {
  position: static;
  width: 301px;
  height: 24px;
  left: 32px;
  top: 0px;
  cursor: pointer;
  /* Body 1/Bold */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

header .container-ubicacion button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 24px;
  position: static;
  width: 89px;
  height: 40px;
  left: 365px;
  top: 0px;
  /* Malachite */
  background: #0ac763;
  border-radius: 8px;
}

header .container-ubicacion button .Ncarrito {
  position: static;
  width: 9px;
  height: 16px;
  left: 56px;
  top: 12px;
  margin-left: 7px;
  /* Button */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */
  /* White */
  color: #fefefe;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
  position: static;
  max-width: 1366px;
  height: 1538px;
  left: 0px;
  top: 88px;
}

.container .containerBanner {
  position: static;
  max-width: 1286px;
  height: 250px;
  left: 40px;
  top: 40px;
}

.container .containerBanner .tituloBanner {
  position: absolute;
  width: 796px;
  height: 42px;
  left: 285px;
  top: 203px;
  /* Headline 1 */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  color: #fefefe;
}

.container-Ofertas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 40px;
  position: static;
  max-width: 1286px;
  height: 560px;
  left: 40px;
  top: 330px;
  /* White */
  background: #fefefe;
  /* Shadows-2 */
  -webkit-box-shadow: 0px 11px 29px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 11px 29px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
}

.container-Ofertas h5 {
  position: static;
  width: 76px;
  height: 22px;
  left: 40px;
  top: 40px;
  /* Headline 3 */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  color: #333333;
}

.container-Ofertas .productsOfer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px;
  position: static;
  width: 1162px;
  height: 418px;
  left: 40px;
  top: 102px;
  overflow-x: scroll;
}

.container-Ofertas .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px;
  margin: 0 20px;
  position: static;
  width: 194px;
  height: 418px;
  left: 0px;
  top: 0px;
}

.container-Ofertas .card .dto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 4px;
  position: static;
  width: 59px;
  height: 24px;
  left: 0px;
  top: 0px;
  /* Purple-bg */
  background: #e8d2ff;
  border-radius: 16px;
}

.container-Ofertas .card img {
  position: static;
  width: 194px;
  height: 194px;
  left: 0px;
  top: 40px;
  /* White */
  background: #fefefe;
}

.container-Ofertas .card .descripCard {
  position: static;
  width: 194px;
  height: 112px;
  left: 0px;
  top: 250px;
}

.container-Ofertas .card .descripCard .precio {
  position: static;
  width: 194px;
  height: 24px;
  left: 0px;
  top: 0px;
  /* Body 1/Bold */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  /* Cocoa Brown */
  color: #332927;
}

.container-Ofertas .card .descripCard .descripcion {
  position: static;
  width: 194px;
  height: 72px;
  left: 0px;
  top: 32px;
  /* Body 2/Regular */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  /* Cocoa Brown */
  color: #332927;
}

.container-Ofertas .card button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 24px;
  position: static;
  width: 194px;
  height: 40px;
  left: 0px;
  top: 378px;
  color: white;
  /* Malachite */
  background: #0ac763;
  border-radius: 8px;
}

@media screen and (max-width: 650px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px 0px 16px;
    position: static;
    width: 360px;
    height: 112px;
    left: 0px;
    top: 0px;
  }
}

.modal-dialog {
  padding: 0;
  margin: 0;
}

.modal-dialog .modal-content {
  /* Auto layout */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 40px;
  position: absolute;
  width: 1068px;
  height: 1186px;
  left: 149px;
  top: 80px;
  /* White */
  background: #fefefe;
  border-radius: 16px;
}

#modalCarrito .modal-dialog {
  padding: 0;
  margin: 0;
}

#modalCarrito .modal-dialog .modal-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px;
  position: absolute;
  width: 562px;
  height: 768px;
  left: 804px;
  top: 0px;
}
/*# sourceMappingURL=style.css.map */